/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #A52A2A;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #006400;
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

.header {
    background-color: #272822;
    width: 100%;
    margin: 4px 0px;
    padding: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.editable {
    background-color: #272822;
    padding: 4px;
    border: 1px solid white;
    border-radius: 4px;
}

.nowrap {
    white-space: nowrap;
}

input {
    background-color: #272822;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
}

.endpoint-info {
    margin-top: 4px;
    margin-bottom: 4px;
    line-height: 2;
}

.body {
    margin-left: 8px;
}

.info {
    opacity: 50%;
}

.open {
    transform: rotate(90deg);
}

.clickable {
    cursor: pointer;
}

#clearLog {
    background-color: #A52A2A;
    border-radius: 4px;
    color: white;
    float: right;
    padding: 4px;
}

.add-endpoint-button {
    background-color: #006400;
    border-radius: 4px;
    color: white;
    padding: 4px;
}

.delete-endpoint-button {
    background-color: #A52A2A;
    border-radius: 4px;
    color: white;
    padding: 4px;
}